---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import background_low from '../assets/images_compressed/background_low.jpg';
import logo from '../assets/images_compressed/logo.png';
import icon from '../assets/images_compressed/icon.png';
import cover from '../assets/images_compressed/cover_blur.png';
import summer from '../assets/images_compressed/summer.png';
import sound from '../assets/images_compressed/sound.png';
import no_sound from '../assets/images_compressed/no_sound.png';
---

<Layout title="Margaux Mia">
	<main class="h-full w-full group">
		<Image src={background_low} quality={'max'} alt="Background universe from Margaux Mia" id="background" class="fixed w-full h-full -z-10 object-cover object-center transition duration-1000 grayscale brightness-75 group-[.active]:grayscale-0 group-[.active]:brightness-100 blur-sm"/>

		<div class="fixed bottom-0 flex flex-col items-center">
			<button class="py-2 px-8 md:py-3 md:px-16 rounded-full border border-white text-white text-xl md:text-2xl bg-lighter italic transition-opacity duration-1000  group-[.active]:opacity-0" id="launch">
				*start*
			</button>
			<div class="w-full flex flex-col items-center transition-all duration-1000 group-[.active]:mb-8">
				<Image src={logo} alt="Margaux Mia logo" class="cursor-pointer w-full h-fit object-contain object-center transition-transform origin-bottom duration-1000 md:group-[.active]:scale-25 group-[.active]:scale-75" id="logo"/>
				<div class="flex flex-col items-center gap-2 md:gap-4 group-[.active]:mt-4 md:group-[.active]:mt-8 max-h-0 group-[.active]:max-h-32 transition-all duration-1000">
					<a href="https://margauxmia.tunetoo.com/" target="_blank" rel="noopener noreferrer" class="text-white text-xl md:text-2xl italic pointer-events-none group-[.active]:pointer-events-auto">*shop*</a>
					<a href="https://linktr.ee/margauxmia/" target="_blank" rel="noopener noreferrer" class="text-white text-xl md:text-2xl italic pointer-events-none group-[.active]:pointer-events-auto">*linktree*</a>
					<button class="mt-2 md:mt-4  pointer-events-none group-[.active]:pointer-events-auto" id="stopSound">
						<Image src={sound} alt="Sound" class="h-4 w-4 object-contain object-center" />
						<Image src={no_sound} alt="Sound" class="h-4 w-4 object-contain object-center hidden" />
					</button>
				</div>
			</div>
		</div>

		<div class="opacity-0 group-[.active]:opacity-100 transition-opacity duration-1000">
			<Image src={summer} alt="Typo - Souviens-toi l'été dernier" class="fixed top-0 right-0 w-[26rem] max-w-full h-fit object-contain mt-8 px-8" />
			<Image src={icon} alt="Margaux Mia icon" class="fixed bottom-0 left-0 w-12 h-fit object-contain ml-8 mb-8" />
			<a href="https://linktr.ee/margauxmia/" target="_blank" rel="noopener noreferrer">
				<Image src={cover} alt="Song cover" class="fixed bottom-0 right-0 w-16 md:w-32 h-fit object-contain mr-8 mb-8" />
			</a>
		</div>
		<audio src="sounds/background.mp3" autoplay loop preload="auto" id="backgroundAudio"></audio>
		<audio src="sounds/logo.mp3" preload="auto" id="logoAudio"></audio>
	</main>
</Layout>

<script>
import background from '../assets/images_compressed/background.jpg';

const main = document.querySelector('main') as HTMLElement;
const backgroundImage = main.querySelector('#background') as HTMLImageElement;
const launchButton = main.querySelector('#launch') as HTMLButtonElement;
const stopButton = main.querySelector('#stopSound') as HTMLButtonElement;
const stopImages = stopButton.querySelectorAll('img') as NodeListOf<HTMLImageElement>;
const logo = main.querySelector('#logo') as HTMLImageElement;
const backgroundAudio = main.querySelector('#backgroundAudio') as HTMLAudioElement;
const logoAudio = main.querySelector('#logoAudio') as HTMLAudioElement;
const img = new Image();
img.src = background.src;

img.addEventListener('load', () => {
	backgroundImage.src = background.src;
	backgroundImage.classList.add('!blur-none');
}, { once: true });

launchButton.addEventListener('click', () => {
	main.classList.add('active');
	backgroundAudio.play();
}, { once: true });

stopButton.addEventListener('click', () => {
	stopImages.forEach((image) => {
		image.classList.toggle('hidden');
	});
	if (backgroundAudio.paused) {
        backgroundAudio.play();
    }else{
		backgroundAudio.pause();
        backgroundAudio.currentTime = 0
    }
});

logo.addEventListener('click', () => {
	if (logoAudio.paused) {
        logoAudio.play();
    }else{
        logoAudio.currentTime = 0
    }
});
</script>